<h1>つぶやき一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @posts.each do |blog| %>
  <tr>
    <td><%= post.content %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくブログを投稿する', new_post_path %>