// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  background-color: #dddddd;
  height: 90px;
  font-size: 1.5rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.top_menu{
  list-style: none;
}

.footer {
  background-color: #dddddd;
  height: 70px;
  font-size: 1.5rem;
  text-align:center;
  padding:30px 0;
}

